body{
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.color-turquoise{
    background-color: #009aaf;
}

.card{
    background-color: #009aaf!important;
    border: 1px solid #ffffff!important;
}